/*Header*/

#wrapper {
  width: 1600px;
}

.header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 756px;
  z-index: 65;
}

.topNav {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 756px;
  z-index: 64;
}

.greyBar {
  background-color: rgb(237, 237, 237);
  opacity: 0.361;
  position: absolute;
  left: -64px;
  top: 34px;
  width: 1768px;
  height: 109px;
  z-index: 13;
}

.active {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 756px;
  z-index: 55;
}

.logo {
  font-size: 14.773px;
  font-family: "Bebas";
  color: rgb(49, 49, 49);
  text-transform: uppercase;
  line-height: 1.262;
  text-align: left;
  -moz-transform: matrix( 2.75937803408559,0,0,2.78394288334957,0,0);
  -webkit-transform: matrix( 2.75937803408559,0,0,2.78394288334957,0,0);
  -ms-transform: matrix( 2.75937803408559,0,0,2.78394288334957,0,0);
  position: absolute;
  left: 363.924px;
  top: 81.678px;
  z-index: 63;
}

.loginSignup {
  font-size: 14.773px;
  font-family: "Bebas";
  color: rgb(190, 54, 0);
  text-transform: uppercase;
  line-height: 1.262;
  text-align: left;
  -moz-transform: matrix( 0.97429244729227,0,0,0.98984635852429,0,0);
  -webkit-transform: matrix( 0.97429244729227,0,0,0.98984635852429,0,0);
  -ms-transform: matrix( 0.97429244729227,0,0,0.98984635852429,0,0);
  position: absolute;
  left: 1148.417px;
  top: 7.178px;
  z-index: 62;
}

.call {
  font-size: 14.773px;
  font-family: "Bebas";
  color: rgb(190, 54, 0);
  text-transform: uppercase;
  line-height: 1.262;
  text-align: left;
  position: absolute;
  left: 316.937px;
  top: 7.678px;
  z-index: 59;
}

.orangeHeader {
  background-color: rgb(255, 98, 0);
  position: absolute;
  left: -64px;
  top: -5px;
  width: 1768px;
  height: 39px;
  z-index: 58;
}

.navBar {
  font-size: 13px;
  font-family: "Myriad Pro";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: right;
  position: absolute;
  left: 564.527px;
  top: 80.121px;
  width: 410px;
  height: 9px;
  z-index: 56;
}

ul li {
  font-family: "Myriad Pro";
  list-style-type: none;
  display: inline-block;
}

/*Span*/

.orange {
  color: rgb(255, 98, 0);
}

.white {
  color: #FFFFFF;
}

.bold {
  color: #000000;
  font-weight: bold;
}

/*Contact*/

.intro {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 756px;
  z-index: 50;
}

.contactNavbar {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgba(146, 146, 146, 0.78);
  line-height: 1.761;
  position: absolute;
  left: 316.937px;
  top: 184.673px;
  z-index: 47;
}

.contact {
  font-size: 34px;
  font-family: "Open Sans";
  color: rgb(255, 98, 0);
  font-weight: bold;
  line-height: 0.725;
  -moz-transform: matrix( 0.78433336524794,0,0,0.79290620706881,0,0);
  -webkit-transform: matrix( 0.78433336524794,0,0,0.79290620706881,0,0);
  -ms-transform: matrix( 0.78433336524794,0,0,0.79290620706881,0,0);
  position: absolute;
  left: 302.659px;
  top: 245.175px;
  z-index: 49;
}

.content {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(135, 135, 135);
  line-height: 1.357;
  position: absolute;
  left: 319.994px;
  top: 299.25px;
  width: 826px;
  height: 33px;
  z-index: 48;
}

/*Contact Us*/

.contactBox {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 756px;
  z-index: 45;
}

.contactUs {
  font-size: 23px;
  font-family: "Open Sans";
  color: rgb(255, 98, 0);
  line-height: 1.072;
  position: absolute;
  left: 317.547px;
  top: 369.172px;
  z-index: 42;
}

.underline {
  background-color: rgb(61, 61, 61);
  opacity: 0.89;
  position: absolute;
  left: 320px;
  top: 403px;
  width: 470px;
  height: 6px;
  z-index: 41;
}

.name {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(135, 135, 135);
  line-height: 1.761;
  position: absolute;
  left: 330.937px;
  top: 431.673px;
  z-index: 35;
}

.nameBox {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(140, 140, 140);
  opacity: 0.07;
  position: absolute;
  left: 318px;
  top: 426px;
  width: 472px;
  height: 34px;
  z-index: 33;
}

.phone {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(135, 135, 135);
  line-height: 1.761;
  position: absolute;
  left: 330.937px;
  top: 473.173px;
  z-index: 40;
}

.phoneBox {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(140, 140, 140);
  opacity: 0.07;
  position: absolute;
  left: 318px;
  top: 468px;
  width: 232px;
  height: 34px;
  z-index: 39;
}

.emailBox{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(140, 140, 140);
  opacity: 0.07;
  position: absolute;
  left: 558px;
  top: 468px;
  width: 232px;
  height: 34px;
  z-index: 37;
}

.email {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(135, 135, 135);
  line-height: 1.761;
  position: absolute;
  left: 570.937px;
  top: 473.173px;
  z-index: 38;
}

.messageBox {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(140, 140, 140);
  opacity: 0.07;
  position: absolute;
  left: 318px;
  top: 510px;
  width: 472px;
  height: 111px;
  z-index: 34;
}

.message {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(135, 135, 135);
  line-height: 1.761;
  position: absolute;
  left: 329.844px;
  top: 541.57px;
  z-index: 36;
}

/*Submit Button*/

.submit {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 756px;
  z-index: 32;
}

.button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 756px;
  z-index: 31;
}

.submitContent {
  font-size: 8px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  -moz-transform: matrix( 1.63119663565694,0,0,1.63057337518764,0,0);
  -webkit-transform: matrix( 1.63119663565694,0,0,1.63057337518764,0,0);
  -ms-transform: matrix( 1.63119663565694,0,0,1.63057337518764,0,0);
  position: absolute;
  left: 354.569px;
  top: 656.7px;
  z-index: 30;
}

.submitBackground {
  background-color: rgb(255, 98, 0);
  position: absolute;
  left: 320px;
  top: 643px;
  width: 98px;
  height: 37px;
  z-index: 29;
}

/*Reach Us*/

.reachUsBox {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 756px;
  z-index: 25;
}

.reachUs {
  font-size: 23px;
  font-family: "Open Sans";
  color: rgb(255, 98, 0);
  line-height: 1.072;
  position: absolute;
  left: 865.781px;
  top: 369.172px;
  z-index: 22;
}

.underlineTwo {
  background-color: rgb(67, 67, 67);
  opacity: 0.89;
  position: absolute;
  left: 867px;
  top: 403px;
  width: 408px;
  height: 6px;
  z-index: 21;
}

.skills {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(89, 89, 89);
  line-height: 0.375;
  position: absolute;
  left: 868.937px;
  top: 431.546px;
  width: 141px;
  height: 98px;
  z-index: 23;
}

.address {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(89, 89, 89);
  line-height: 0.375;
  position: absolute;
  left: 868.937px;
  top: 460.546px;
  width: 141px;
  height: 98px;
  z-index: 23;
}

.addressTwo {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(89, 89, 89);
  line-height: 0.375;
  position: absolute;
  left: 868.937px;
  top: 477.546px;
  width: 141px;
  height: 98px;
  z-index: 23;
}

.phoneNumber {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(89, 89, 89);
  line-height: 0.375;
  position: absolute;
  left: 868.937px;
  top: 506.546px;
  width: 200px;
  height: 98px;
  z-index: 23;
}

.faxNumber {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(89, 89, 89);
  line-height: 0.375;
  position: absolute;
  left: 868.937px;
  top: 523.546px;
  width: px;
  height: 98px;
  z-index: 23;
}

/*Social Media*/

.facebook {
  position: absolute;
  left: 857px;
  top: 583px;
  width: 33px;
  height: 33px;
  z-index: 20;
}

.twitter {
  position: absolute;
  left: 885px;
  top: 583px;
  width: 33px;
  height: 33px;
  z-index: 20;
}

.linkedin {
  position: absolute;
  left: 922px;
  top: 583px;
  width: 33px;
  height: 33px;
  z-index: 20;
}

.pinterest {
  position: absolute;
  left: 960px;
  top: 583px;
  width: 33px;
  height: 33px;
  z-index: 20;
}
